header {
  display : flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}
.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}
.logo img {
  max-width: 40px;
  height: auto;
}
.span {
  font-size: 17px;
}
.logo-text {
  font-weight: bold;
}
nav ul {
  font-weight: 400;
  display: flex;
  list-style: none;
  gap: 30px;
}
button {
  background-color: white;
  border: none;
  color: black;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  font-size: 15px;
  font-weight: ;
}


/*레이아웃 관련 속성
display: flex; → 요소를 Flexbox 레이아웃으로 설정

align-items: center; → 요소를 수직 방향(교차축)에서 중앙 정렬

justify-content: space-between; → 요소들을 수평 방향(주축)에서 양 끝으로 정렬

gap: 10px;, gap: 30px; → 요소들 사이의 간격을 설정

여백 관련 속성
padding: 10px 20px; → 요소 내부의 여백 설정 (위아래 10px, 좌우 20px)

리스트 관련 속성
list-style: none; → 리스트(ul, ol)의 기본 마커(●, 1., ⬛ 등)를 제거

버튼 관련 속성
background-color: white; → 배경색을 흰색으로 설정

border: none; → 테두리 제거

color: black; → 글자색을 검정으로 설정

text-align: center; → 텍스트를 중앙 정렬

display: inline-block; → 요소를 inline-block(줄바꿈 안됨, 크기 지정 가능)으로 설정

cursor: pointer; → 마우스를 올리면 포인터(손가락)로 변경
*/

